<h1>Editing Veterinarian</h1>

<%= render 'form', veterinarian: @veterinarian %>

<%= link_to 'Show', @veterinarian, class: "btn btn-link" %> |
<%= link_to 'Back', veterinarians_path, class: "btn btn-link" %>
