
<div class="jumbotron" style="background-color: #8fd2ff;">

<h1 style="margin-top:100px; font-weight:200;">Welcome to Vetspotter</h1>
<br>
<p style="margin-right:300px; margin-left:300px; margin-bottom:250px">We love our pets--and in order to give them the best life that we can, we need to be mindful about the cost of caring for them.  Let's work together so that we know what we're getting, when we need veterinary care</p>

</div>

<div style="position:absolute; bottom: 0; text-align: center; width: 98%; font-size: 12px;">
<p style="text-align:center">Copyright 2020 Vetspotter</p>
</div>
