

<body style="background-color: #8fd2ff;">
<h1 style="margin-top:150px;">Welcome to Vetspotter</h1>
<br>
<p style="margin-right:300px; margin-left:300px;">This generation loves pets, and it's careful with money.  Let's work together so that we know what we're getting into when we need veterinary care</p>

<br>
<br>
</body>
<div class="bottom_image margin-bottom: 10px;">
<%= image_tag('https://s3.amazonaws.com/vetspotter/tom-Waiting-dog-lineart.png', :size=> "75x75", :alt=> "sitting dog logo") %>
</div>
