
<div class="jumbotron" style="background-color: #8fd2ff;">

<h1 style="margin-top:100px; font-weight:200;">We would love to hear from you</h1>
<br>
<p style="text-align: center; margin-right:300px; margin-left:300px; margin-bottom:250px">Contact us at: editor@vetspotter.com</p>

</div>

<div style="position:absolute; bottom: 0; text-align: center; width: 98%; font-size: 12px;">
<p style="text-align:center">Copyright 2020 Vetspotter</p>
</div>
