.jumbotron {
  background-color: #00ABE7;
  h2 {
  color: white;
  font-weight: bold;
  }
  h3 {
    color: white;
  }
}
.navbar {
  background-color: #00ABE7 !important;
}

.bottom_image img {
   display: block;
   margin-left: auto;
   margin-right: auto;
  }
